<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time itemprop="datePublished" datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%- jdate(post.date, '‏dddd، DD MMM YYYY') %>
    	<% } else { %>
		    <%- jdate(post.date, 'dddd، DD MMM YYYY') %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
</div>

